{{!< default}}

{{> "fun-xp-header"}}

{{> "main-nav-cards"}}

<section class="post-list">
    {{#foreach posts}}
        <a href="{{url}}" class="post-card-link">
          <article class="post-card {{post_class}}">
              <h2 class="post-title y2k-heading">{{title}}</h2>
              {{#if excerpt}}
                  <p class="post-excerpt">{{excerpt}}</p>
              {{/if}}
          </article>
        </a>
    {{/foreach}}
</section>
