<form class="guestbook-form">
    <label for="guestbook-name">Name:</label>
    <input type="text" id="guestbook-name" name="name" required>
    <label for="guestbook-message">Message:</label>
    <textarea id="guestbook-message" name="message" required></textarea>
    <button type="submit">Sign Guestbook</button>
</form>
<p>Or <a href="https://disqus.com/">leave a comment</a>!</p> 