<section class="meme-banner">
  <div class="glitch-wrapper">
    <img src="{{asset "images/memes/under_construction.gif"}}" alt="Meme Banner" class="glitch-img" tabindex="0">
    <div class="glitch-overlay"></div>
  </div>
  <p class="meme-banner-note">Click the meme to see another!</p>
</section> 