<aside class="sidebar">
    <section class="sidebar-categories">
        <h3>Categories</h3>
        <ul>
            {{#get "tags" limit="all"}}
                {{#foreach tags}}
                    <li><a href="{{url}}">{{name}}</a></li>
                {{/foreach}}
            {{/get}}
        </ul>
    </section>
    <section class="sidebar-random">
        <h3>Random Post</h3>
        <a href="{{@site.url}}/random">Go!</a>
    </section>
    {{> "recently-edited"}}
    {{> "random-fact"}}
</aside> 